body {
  font-family: sans-serif;
  text-align: center;
}

.tooltip {
  display: inline-block;
  text-align: center;
  padding-left: 5px;
  position: relative;
  cursor: help;
  line-height: 1.2;
}

.tooltip .pinyin {
  display: block;
  font-size: .8em;
  color: gray;
}

.tooltiptext {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: .3em;
  display: inline-block;
  width: max-content;
  min-width: 6em;
  max-width: 24em;
  padding: .3em;
  background: rgba(255,255,255, .85);
  
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  
  font-size: .75em;
  line-height: 1.3;
  border-radius: .3em;
  white-space: normal;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity .15s, visibility .15s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.tooltiptext .translation + .translation {
  margin-top: .3em;
  display: block;
}

.tag {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 2px 2px;
  margin: 2px;
  border-radius: 5px;
    font-size: .8em;
}
